html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

html, body {
  overflow-x: hidden;
}
html {
  font-size: 16px;
}
/* tablet */
@media (max-width: 992px){
  html {
    font-size: 15.5px;
  }
}

/* Mobile */
@media (max-width: 768px){
  html {
    font-size: 15px;
  }
}